
body{
	font-size: 16px;
}
/*------HEADER PUNTO------*/
/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/* Dot move */

.dotstyle-dotmove li:last-child {
	position: absolute;
	left: 0;
	margin: 0;
	width: 48px;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
}

.dotstyle-dotmove li:last-child::after {
	content: '';
	position: absolute;
	left: 50%;
	top: -1px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #c44d48;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.dotstyle-dotmove li.current:first-child ~ li:last-child {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.dotstyle-dotmove li.current:nth-child(2) ~ li:last-child {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.dotstyle-dotmove li.current:nth-child(3) ~ li:last-child {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.dotstyle-dotmove li.current:nth-child(4) ~ li:last-child {
	-webkit-transform: translateX(300%);
	transform: translateX(300%);
}

.dotstyle-dotmove li.current:nth-child(5) ~ li:last-child {
	-webkit-transform: translateX(400%);
	transform: translateX(400%);
}

.dotstyle-dotmove li.current:nth-child(6) ~ li:last-child {
	-webkit-transform: translateX(500%);
	transform: translateX(500%);
}

.dotstyle-dotmove li a {
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.dotstyle-dotmove li a:hover,
.dotstyle-dotmove li a:focus {
	background-color: #fff;
}
/*----final punto---*/
.demo-1{
	height: 550px;
	background-image: url(http://www.dk-print.ru/load/Gallery/original/nzk1odg0njg3mdax.jpg);

}
.line{
	width: 4em;
	border: 2px solid #5c196b;
	margin: 1em auto;
}

.line-white{
	width: 4em;
	border: 2px solid #FFFFFF;
	margin: 1em auto;
}
.sobreMi{
	background-color: #5c196b;
	height: 550px;
	padding: 70px;
}
.text-portafolio{
	color: #F05F40;
}
.text-white{
	color: #FFFFFF;
}

.bg-black{
	background-color: #000000;
}
/*--------PRESENTACIÓN----------*/
.presentacion{
	margin-bottom: 0px;
}

#sobremi{
	padding: 0% 0%;
}
.name{
	font-size: 3em;
}
/*--------SERVICIOS----------*/
.servicios{
	padding: 5% 0%;
}
.icon{
	font-size: 3em;
}
.tipos-servicios{
	padding: 10% 0%;
} 
/*--------HABILIDADES----------*/
.clase{
	height: 550px;
	background-color: #9DC8C8;
}
.canvas{
	padding: 15px;
	text-align: center;
	width:250px;
	display: inline-block;
	font-family: 'Montañas de Navidad', cursiva;
}	
/*--------NUEVOS PROYECTOS----------*/
.img {
	width: 100%;
	display: inline-block;
	padding: 4%;
}
.row{
	padding: 2%;
	background-color: white;
	height: 300px;
}
.newcategory{ 
	opacity:0;
	position: absolute;
	top: 0px;
	width: 100%;
	height: auto;
} 

.overlay:hover .newcategory{ 
	opacity:0.9; 
	color:#FFFFFF; 
	font-weight:700;
	background-color: #5c196b;
	text-align: center;
	padding-top: 20%;
	min-height: 100%; 
}
.overlay:hover .newcategory h4{ 
	color: rgba(255, 255, 255, 0.7);
}
.tamano{
	padding: 0px;
}


/*--------FOOTER----------*/
footer {
	padding: 5% 0%;
	height: 550px;
}
.contact{
	padding: 0% 20%
	height:550px;
}
.contac-ico {
	font-size: 2em;
}
.m-bottom{
	margin-bottom: 1em;
}

@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}

@media (max-width: 640px){
	body{
	font-size: 12px;
	}
}